* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  max-height: 600px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER  */

.header-bg {
  background-color: #ff6900;
  margin-bottom: 40px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
li {
  display: inline-block;
  margin-right: 5px;
}

.logo-boolean {
  width: 100px;
}

.icons {
  color: white;
}

/* MAIN  */
.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.card {
  position: relative;
  width: calc(100% / 3);
}

.card-like {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  margin-top: 5px;
  z-index: 2;
}

.card-discount {
  position: absolute;
  bottom: 85px;
  left: 0;
  padding: 5px;
  background-color: red;
  color: white;

  z-index: 2;
}
.sustain-box {
  position: absolute;
  bottom: 85px;
  left: 53px;
  padding: 5px;
  background-color: green;
  color: white;
  z-index: 2;
}

.card-price > p {
  color: red;
  font-weight: 600;
}

.card-price > p > span {
  color: black;
  text-decoration: line-through;
  font-weight: 400;
}

.sustain-box-only {
  position: absolute;
  bottom: 85px;
  left: 0px;
  padding: 5px;
  background-color: green;
  color: white;
  z-index: 2;
}

.card:hover .card-hover {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-hover {
  display: none;
}
